*{
    margin:0;
    padding: 0;
    font-family: 'poppind',sans-serif;
    box-sizing: border-box;
}
body{
    background-color: rgb(255, 0, 0);
    color: white;
}
.container{
    margin: 12%;
    width:90%;
    max-width: 700px;

}
#password-box{
    width: 100%;
    margin: 50px 0 40px 0;
    background-color: white;
    color: #333;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 24px 20px;
}
.container h1{
    font-weight: 700;
    font-size: 45px;
    text-transform: capitalize;
}
.container span {
    color: goldenrod;
    font-size: 50px;
    border-bottom: 8px solid goldenrod;
}
.container img {
    width: 30px;
    border:none;
    cursor: pointer;
}
#password-box input{
    border: 0;
    outline: 0;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
    text-shadow: #333;
}
.btn{
    width:28px;
    min-width: 300px;
    height: 30px;
    min-height: 40px;
    margin-right: 10px;
    background-color: greenyellow;
    padding: 10px 26px;
    text-align: center;
    font-size: 20px;
    border: 0;
    font-weight: 700;
    display: flex;
    justify-content: center;
    cursor: pointer;
    text-transform: uppercase;
}